{% macro plaque(label, title, body) %}
<article class="plaque plaque--ornate">
  <p class="plaque__label">{{ label }}</p>
  <h3 class="plaque__title">{{ title }}</h3>
  <p class="plaque__body">{{ body }}</p>
</article>
{% endmacro %}
